*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html{
    scroll-behavior: smooth;
  }
  body{
    font-family: 'Open Sans', sans-serif;
  }
:root{
    --color-paragraph: #9d9aa5;
    --main-color: #458ff6;
}
.trafalgar{
    margin-top: 20px;
    text-transform: capitalize;
}
.container{
   margin-left: 130px;
   margin-right: 130px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header ul li a{
    outline: none;
    text-decoration: none;
    color: black;
}
.header ul li .special{
    font-weight: bold;
}
.header ul li a:hover{
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}
.dots{
    position: absolute;
    left: 0;
    /* margin-bottom: 10px; */
}

.intoduction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 50px;
}
.intoduction .virtual h1{
    font-size: 40;
    margin-bottom: 20px;
}
.intoduction .virtual p{
    color: #0000008a;
    margin-bottom: 20px;
    line-height: 30px;
}
.intoduction .virtual button{
    padding: 10px 20px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.intoduction .virtual button:hover{
    background-color: white;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: 1s;
}
.service{
    padding: 100px 0;
    position: relative;
    text-align: center;
}
.service h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    position: relative;
}
.service h2::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: black;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0px);
}

.service  .para{
    color: var(--color-paragraph);
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 60px;
}
.service .first{
    position: absolute;
    left: 0;
    top: 25%;
    transform: rotate(182deg);
}
.service .second{
    position: absolute;
    right: -40px;
    top: 43%;
}
.service .divisions{
    z-index: 10;
    position: relative;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.service .divisions .section{
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 10px 5px #ccc;
    border-radius: 20px;
    margin: 0;
    text-align: left;
    z-index: 100;
}
.service .divisions .section:hover{
    position: relative;
    bottom:  5px;
    transition: 1s;
}
.service .divisions .section img{
    margin-bottom: 10px;
}
.service .divisions .section h3{
    margin-bottom: 10px;
    font-size: 20px;
}
.service .divisions .section p{
    color: var(--color-paragraph);
    line-height: 30px;
}
.service button{
    border: 2px solid var(--main-color);
    background: white;
    text-align: center;
    margin: 50px auto;
    padding: 15px 40px;
    border-radius: 29px;
    display: block;
    color: #2196F3;
    font-size: large;
    font-weight: bold;
}
.service button:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    border: none;
    transition: .5s;
    cursor: pointer;
}
.leading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 100px;
    margin: 100px 0;
}
.leading .providers h2{
    margin-bottom: 40px;
    position: relative;
}
.leading .providers h2::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0px;
    width: 45px;
    height: 2px;
    background-color: black;
}
.leading .providers p{
    color: var(--color-paragraph);
    font-size: 14px;
    line-height: 25px;
    margin-top: 10px;
}
.leading .providers button{
    border: 2px solid var(--main-color);
    background: white;
    margin-top: 20px ;
    padding: 15px 40px;
    border-radius: 29px;
    color: #2196F3;
    font-size: large;
    font-weight: bold;
}
.leading .providers button:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    border: none;
    transition: .5s;
    cursor: pointer;
}
.download{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 100px;
    margin: 100px 0;
}
.download .apps h2{
    margin-bottom: 40px;
    position: relative;
}
.download .apps h2::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0px;
    width: 45px;
    height: 2px;
    background-color: black;
}
.download .apps p{
    color: var(--color-paragraph);
    font-size: 14px;
    line-height: 25px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}
.download .apps button{
    border: 2px solid var(--main-color);
    background: white;
    margin-top: 20px;
    padding: 15px 40px;
    border-radius: 29px;
    color: var(--main-color);
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin-top: 40px;
}
.download .apps button:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    border: none;
    transition: .5s;
}
.custumer{
    text-align: center;
}
.custumer .background{
    background-color: var(--main-color);
    position: relative;
    border-radius: 20px;
}
.background .first{
    position: absolute;
    right: 5px;
}
.background .second{
    position: absolute;
    bottom: 0;
    left: -50px;
}
.custumer .background h2{
    margin-bottom: 50px;
    position: relative;
    top: 50px;
    color: white;
}
.custumer .background h2::after{
    content: "";
    width: 40px;
    height: 2px;
    position: absolute;
    background-color: white;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0);
}
.custumer .background .pictureinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px; 
    padding: 20px 60px; 
    border-radius: 20px;
    color: white;
}
.custumer .background .information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px; 
    padding: 30px 60px;
}
.custumer .background .information .textinfo h4{
    white-space: nowrap;
}
.custumer .background .information .textinfo p{
    white-space: nowrap;
    margin-right: 25px;
}

.custumer .background .saying p{
    line-height: 30px;
}
.custumer .shapes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
    color :#2195f359;
}
.custumer .shapes .blue{
    color: var(--main-color);
}

.custumer .shapes .circls i{
    font-size: 10px;
    margin: 0 10px;
}
.check{
    text-align: center;
    position: relative;
    margin: 100px 0;
}

.check .container{
    position: relative;
}
.check h2{
    margin-bottom: 60px;
    position: relative;
}
.check h2::after{
    content: "";
    width: 40px;
    height: 2px;
    position: absolute;
    background-color: black;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0);
}
.check .first{
    position: absolute;
    z-index: -3;
    right: 0;
    bottom: 50px;
}
.check .second{
    position: absolute;
    left: -90px;
    top: 20px;
    z-index: -1;
}
.check .types{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.check .types .type{
    box-shadow: 0 15px 20px #F5F7FF;
    text-align: left;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}
.check .types .type .description{
    flex-grow: 1;
    padding: 30px;
}
.check .types .type .description h3{
    font-size: 23px;
    line-height: 35px;
}
.check .types .type .description p{
    line-height: 35px;
    color: var(--color-paragraph);
}
.check .types .type h4{
    color: var(--main-color);
}
.check .types .type p{
    color: #cecdd2;
}
.check button{
    border: 2px solid var(--main-color);
    background: white;
    padding: 15px 40px;
    border-radius: 29px;
    color: #2196F3;
    font-size: large;
    font-weight: bold;
    margin-top: 50px;
}
.check button:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    border: none;
    transition: .5s;
}
.footer {
    margin-top: 200px;
    position: relative;
    background-color: var(--main-color);
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    text-align: center;
    color: white;
    align-items: center;
}
.footer .trafalgar .title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5px 0px 10px;
}
.footer .trafalgar .title h3{
    padding: 10px;
    background: white;
    color: var(--main-color);
    border-radius: 50%;
    font-size: 30px;
}

.footer  h4{
    font-size: 18px;
    margin-bottom: 10px;
}
.footer h6{
    font-size: 15px;
}
.footer p{
    line-height: 30px;
    margin-bottom: 15px;
}
.footer .first{
    position: absolute;
    right: 0;
    top: -50px;
}
.footer .second{
    position: absolute;
    bottom: 0;
}

